

/*estilos universales*/
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-weight: normal;
}



/*contenido*/
main {
	padding-top: 2rem;
}


section {
	padding: 6rem 15vw 4rem;
}

section header {
	margin-bottom: 3rem;
}



h1 {
	font-family: "Poppins", serif;
	font-size: 4rem;
	font-weight: bolder;
	letter-spacing: 3px;
	word-spacing: -5px;
	text-align: center;
}

h2 {
	/*font-family: 'Antic Slab', serif;*/
	font-family: 'Roboto Slab', serif;
	font-size: 3.2rem;
	font-weight: ;
	letter-spacing: ;
	word-spacing: ;
	text-align: center;
}


p {
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
	font-weight: bolder;
	letter-spacing: ;
	word-spacing: ;
	text-align: justify;
}

.nota {
	font-family: 'Karla', sans-serif;
	font-size: ;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: ;
	word-spacing: ;
	text-align: ;
}





/*seccion 1*/
.introduccion {
	padding: 3.8rem 15vw;
}

.introduccion p {
	text-align: center;
}



/*section 2*/
.indice {
	padding: 4rem 20vw;
}


.indice header {
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Antic Slab', serif;
	font-size: 2.5rem;
	font-weight: lighter;
	margin-bottom: 2.6rem;
}


.indice ul {
	list-style-position: inside;
	list-style-type: decimal;
	text-decoration: none;
	margin-left: 2rem;
}


.indice li {
	font-family: 'Inter', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.8;
}


.indice a {
	text-decoration: none;
}

.indice a:link {
}

.indice a:visited {
}

.indice a:focus {
	outline-color: #555;
}

.indice a:hover {
	text-decoration: underline;
	
}

.indice a:active {
}







@media only screen and (max-width: 650px) and (min-width: 550px) {



	html {
		font-size: 8px;
	}



}



@media only screen and (max-width: 550px) and (min-width: 450px) {



	html {
		font-size: 7px;
	}



}



@media only screen and (max-width: 450px) and (min-width: 350px) {



	html {
		font-size: 6px;
	}



}



@media only screen and (max-width: 350px) {



	html {
		font-size: 5px;
	}



}